---


layout: splash
author_profile: true
title: "Home"
date: 2019-07-19T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/mountain-header.jpg
  actions:
    - label: "Download Resume"
      url: "/resume"
    - label: "Contact Me"
      url: "/contact"
excerpt: "Computer Engineering Student, Neurotech Educator, Technology Advocate, Outdoor Enthusiast"
# add in team lead?


feature_row:
  - image_path: assets/images/resumepic.jpg
    alt: "Placeholder for image 1"
    title: "Professional Resume"
    excerpt: "Read about my past work experience, school involvement, and qualifications. The original employer experience."
    url: "resume/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/grouppic.JPG
    alt: "Placeholder for image 2"
    title: "Who am I?"
    excerpt: "Learn about my goals, personality, and what I love doing. Basically digital speed-dating. <br> <br>"
    url: "about/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/dll-workshop.png
    title: "What am I currently up to?"
    excerpt: "You can learn more about where I am currently spending my time here. Like Twitter, but without politics."
    url: "posts/"
    btn_label: "Read More"
    btn_class: "btn--primary"    

intro:
  - image_path: /assets/images/borderCircle.png
    alt: "placeholder image of circular picture"
    title: "Hello and welcome to my site!"
    excerpt: "Whether you stumbled upon this site or arrived to it through a shared link - congratulations you have made it! I am a third year Computer Engineering student at Queen's University in Kingston, Canada. My passion is in the development and education of digital technologies with intent to increase its accessibility towards industry application and the general public. On this site you will find my resume as well as additional informal information that I believe is necessary to paint an accurate picture of myself as a person. And as always, feel free to contact me through email or LinkedIn - I would love to talk!

    ## Please note: I am currenty seeking 12 month internship opportunities starting May 2019"
    url: "contact/"
    btn_label: "Contact"
    btn_class: "btn--primary"
---
{% include feature_row id="introline" %}

{% include feature_row id="intro" type="left" %}

{% include feature_row %}
