---
# majority of lines from template kept for reference as I continue building the site

layout: splash
author_profile: true
title: "Lukas Bauer"
date: 2019-07-19T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/mountain-header.jpg
  actions:
    - label: "Download Resume"
      url: "/resume"
    - label: "Contact Me"
      url: "/contact"
  # caption: "Photo credit: (https://unsplash.com)" 
excerpt: "Computer Engineer, Neurotech Advocate, Outdoor Enthusiast"

intro: 
  #- title: "Welcome to the home page of my personal site!" 
  
  - excerpt: "# Welcome to the home page of my personal site!
  
  Below you will find links to learn a little more about who I am, my goals and passions, and what I am currently working on. Please feel free to contact me or connect on LinkedIn if you have any questions or just want to speak!
  
  
  **Please note: I am currently seeking a 12 month internship starting May 2020!**"

feature_row:
  - image_path: assets/images/propic.jpg
    alt: "Placeholder for image 1"
    title: "Professional Resume"
    excerpt: "Read about my past work experience, school involvement, and qualifications. The original employer experience."
    url: "resume/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/grouppic.jpg
    #image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "Placeholder for image 2"
    title: "Who am I?"
    excerpt: "Learn about my goals, personality, and what I love doing. Basically digital speed-dating."
    url: "about/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/dll-workshop.png
    title: "What am I currently up to?"
    excerpt: "You can learn more about where I am currently spending my time here. Like Twitter, but without politics."
    url: "posts/"
    btn_label: "Read More"
    btn_class: "btn--primary"    

#feature_row2:
 # - image_path: /assets/images/propic.jpg
 #   alt: "placeholder image 2"
 #   title: "Placeholder Image Left Aligned"
 #   excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
 #   url: "posts/"
 #   btn_label: "Read More"
 #   btn_class: "btn--primary"

#feature_row3:
#  - image_path: /assets/images/dll-workshop.png
#    alt: "placeholder image 2"
#    title: "Placeholder Image Right Aligned"
#    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Right aligned with `type="right"`'
#    url: "#test-link"
#    btn_label: "Read More"
#    btn_class: "btn--primary"

#feature_row4:
 # - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
 #   alt: "placeholder image 2"
 #   title: "Placeholder Image Center Aligned"
 #   excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
 #   url: "about/""
 #   btn_label: "Read More"
 #   btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
